#inculde <vector>
#include <iostream>

using namespace std;

int main()
{
  //define a vector of vectors 
  vector<vector<int> >stuff;
  // fill the inner vector, then insert it into the outer vector 
  for (int i=0; i<3; i++) {
    vector<int>temp;
    for (int j = 0; j < 3; j++) {
        temp.push_back(i)
    }
    stuff.push_back(i)



    cout << "                  ************************" << endl;
    cout << "                        MATH TUTOR V3" << endl;
    cout << "                  ************************" << endl;
    cout << "                        Section 2" << endl;
    cout << "             **************************************" << endl;
    cout << "                    Sandra Aguilar Paiz" << endl;
    cout << "             **************************************" << endl;
    cout << "         https:"https://github.com/saaguiaiz01/MathV4/edit/main/.gitignore" << endl;
    cout << "             **************************************" << endl;
    cout << "                 Welcome to V4 of Math Tutor!" << endl;
    cout << "Please enter your full name: ";
    getline(cin, username);
            cout << "\nQuestion " << question << " of " << MAX_ATTEMPTS;
            cout << "\nAttempts remaining: " << (MAX_ATTEMPTS - question + 1) << endl;
            cout << "What is " << num1 << " " << operationSymbol << " " << num2 << "? ";
